{% extends layout  %}

{% block title %}Client Viewer{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            (ClientId) {{ client.ClientID }}
            <div class="pull-right">
                <a href="{{ path('clients.edit', {'id': client.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                <span class="glyphicon glyphicon-remove"></span>
            </div>
          </div>
          <div class="panel-body" style="background-color:white; color:black;">
            <dl class="dl-horizontal">
                <dt>Secret</dt><dd>{{ client.ClientSecret }}</dd>
                <dt>Redirect URI</dt><dd>{{ client.RedirectUri }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}
