{% extends layout  %}

{% block title %}Client Editor{% endblock %}

{% block content %}

    <h1>Edit Client <b>{{ client.clientId }}</b></h1>
    {% if error %}
        <div class="alert alert-danger">{{ error|nl2br }}</div>
    {% endif %}
    <form class="form-horizontal" method="POST">

        <div class="form-group">
            <label class="col-sm-4 control-label" for="regenerateSecrete">
                Regenerate secret
            </label>
            <div class="col-sm-8 form-control-static">
                <input type="checkbox" id="regenerateSecrete" name="regenerateSecrete" value="regenerate"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" for="redirectUri">
                Redirect URI
            </label>
            <div class="col-sm-8 form-control-static">
                <input class="form-control" name="redirectUri" type="text" id="redirectUri" placeholder="Redirect URI" value="{{ client.redirectUri }}">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Save</button>
                <a style="margin-left: 10px;" href="{{ path('clients.list') }}">Back to list</a>
            </div>
        </div>
    </form>

{% endblock %}
